<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="Hassan Salehe Matar Website">
    <meta name="keywords" content="Hassan Salehe,Hassan Salehe Matar,Software Engineer">
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/publications">Publications</a></li>
        <li><a href="/resume">Resume</a></li>
	<li><a href="/media">Media</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="container">

	{{ content }}

    </div><!-- /.container -->
    <footer>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/hassansalehe" target="_blank">
             <img src="/assets/logos/Linkedin_logo21.png" alt="Linkedin" title="Linkedin" width="93" height="21">
          </a>
        </li>
        <li>
          <a href="https://github.com/hassansalehe" target="_blank">
             <img src="/assets/logos/GitHub_Logo.png" alt="GitHub" title="GitHub" width="63" height="25">
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/users/1952879/hmatar?tab=profile" target="_blank">
             <img src="/assets/logos/so-logo.svg" alt="StackOverflow" title="StackOverflow" width="132" height="32">
          </a>
        </li>
        <li>
          <a href="https://www.hackerrank.com/hmatar" target="_blank">
             <img src="/assets/logos/HackerRank.svg" alt="HackerRank" title="HackerRank" width="98" height="23">
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
